h2 {
    text-align: center;
    color:#164782;
    font-family:cursive, fantasy;
}

ul {
    list-style:none;
    padding:0;
}

li {
    background-color:#3f3f3f;
    margin-top:10px;
    padding:10px;
    border-left:5px;
    font-family:fantasy, cursive;
    font-weight:100;
}
td, th {
    text-align: center;
}